<h1>Post index page</h1>

<%= link_to 'Create InstaPost', new_post_path%> |
<%= link_to 'Gif generator', random_path%>

<br>

<%= form_for :post, url: search_path, method: :get do |f| %>
  <%= f.text_field :caption, list: "list", placeholder: "search field", name: "caption" %><br/>
  <datalist id="list" ></datalist>
  <%= f.submit "Search" %>
<% end %>

<br>

<% @posts.each do |p| %>

  <%= p.user.first_name %></br>
  <%= image_tag(p.photo.thumb.url || "/asdkubakdjb") %></br>
  <%= p.caption %></br>
  <%= time_ago_in_words(p.created_at).upcase + " AGO" %></br>

<%= link_to 'Show ', post_path(p.id)%></br>

<br>

<%end%>
