<h1>Show post page</h1>

<%= link_to 'Create InstaPost', new_post_path%> 

<br>

<%= @post.user.first_name %></br>
<%= @post.caption %></br>
<%= time_ago_in_words(@post.created_at).upcase + " AGO" %></br>
<%= image_tag( @post.photo.thumb.url) %></br>

<% if @post.is_belongs_to? current_user %>
<%= link_to '[Delete]', post_path(@post.id),
    method: :delete,
    data: { confirm: 'Are you sure?' } %>
<%end%>
    <br>
    <br>

    <!-- load comments -->

    <%#= render 'comment_list', {post: @post} %>


    <%#= render 'comment_form', {post: @post} %>

    <strong>Comments</strong>
    <%= render 'comment_list', {post: @post} %>

    <br>
    <br>

    <strong>Add a comment:</strong>
    <%= render 'comment_form', {post: @post} %>
